{
	"singleQuote": true,
	"tabWidth": 4,
	"overrides": [
		{
			"files": ["**/*.scss", "**/*.css"],
			"options": {
				"singleQuote": true
			}
		}
	],
	"useTabs": true,
	"semi": true,
	"quoteProps": "as-needed",
	"jsxSingleQuote": false,
	"trailingComma": "all",
	"bracketSpacing": true,
	"arrowParens": "always",
	"endOfLine": "lf"
}
